:root {
  --color-a: #31a;
  --color-b: black;
  --color-c: white;
  --color-d: green;
  --color-e: red;
}

main {
  background-color: var(--color-c);
  padding: 10px;
  margin: 20px;
  text-align: center;
  font-family: Inter, Ariel;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  border: 4px solid var(--color-a);
  border-radius: 25px;
}

h1, h2, h3, h4 {
  font-family: Aboreto, Ariel;
  color: var(--color-a);
}

hr {
  margin-top: 20px;
  margin-bottom: 20px;
}


h3 {
  color: var(--color-b);
  padding: 10px;
}

form {
  color: var(--workAnswer);
}

.center {
  text-align: center;
}

#img-caption {
  margin-top: -15px;
}

#tribute-info {
  margin: 40px;
}

#bibliography {
  padding: 0px 20px 0px 10px;
  text-align: center;
}

#bibliography ul {
  text-align: left;
  display: inline-block;
}

#popquiz {
  font-family: Inter, Arial;
}

#popquiz h3 {
  font-family: Inter, Arial;
}

/* wrong quiz answers */
#no:checked+label, #restaurant:checked+label, #museum:checked+label, #transparent:checked+label, #reliable:checked+label { color: var(--color-e); }

/* right quiz answers */
#yes:checked+label, #wtf:checked+label, #lifeless:checked+label, #bank:checked+label { color: var(--color-d); }






